<!DOCTYPE html>
<html>
<head>
<title>学习</title>
<meta charset="utf-8">
<link rel="icon" href="images/icon.jpg">
<link rel="stylesheet" type="text/css" href="../common/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../common/css/common.css">
<link rel="stylesheet" type="text/css" href="../common/css/pagination.css">
<link rel="stylesheet" type="text/css" href="css/courseCenter.css">
</head>
<body>
	<!--#include virtual="../common/head.html" -->
	<div class="yd-main">
		<ul class="yd-radius5px yd-left-menu">
			<li yd-data-role="1"><a href="###" class="a-focus">XXXXX</a></li>
			<li yd-data-role="2" ><a href="###">XXXXX</a></li>
		</ul>
		<div class="yd-radius5px yd-course-content">
			<div class="yd-clear">
				<ul class="yd-mycourse-path">
					<li class="yd-after"><a href="javascript:location.reload();">课程中心</a></li>
					<li id="yd-center-pathtwo"></li>
					<li id="yd-center-paththree"></li>
				</ul>
				<div class="yd-mycourse-tr">
					<div class="btn-group yd-status-menu">
						<button id="courseStatus" class="btn " data-toggle="dropdown">选课状态</button>
						<ul class="dropdown-menu">
							<li><a href="###">所有</a></li>
							<li><a href="###">已选</a></li>
							<li><a href="###">未选</a></li>
						</ul>
					</div>
					<form class="yd-find-form">
						<div class="yd-find-fbox">
							<span class="yd-ff-txt">课程</span>
							<input type="text" id="keyWords" placeholder="标题，摘要，正文">
							<input type="button" id="findBtn" value="搜索">
						</div>
					</form>
				</div>
			</div>
			<div class="yd-clear yd-course-list"></div>
			
			<script id="course-tmpl" type="text/x-jquery-tmpl">
				<div class="yd-course">
					<div class="yd-cover"><img src="${common.dealImage(cover)}" alt=""></div>
					<h3>
						<span class="yd-title">${common.cutStr(title,14)}</span>
						<span class="yd-courseScore">${courseScore}</span>
					</h3>
					<p class="yd-summary">摘要：${common.cutStr(summary,24)}</p>
					<div class="yd-course-info">
						<span class="yd-courseCollect">{{if isCollection}}<img src="../common/images/u1405.png">{{else}}<img src="../common/images/u1408.png">{{/if}}</span>
						<span class="yd-coursePlay"><img src="../common/images/play.png"></span>
						<span class="yd-courseBrow">${browNumber}</span>
						<span class="yd-chooseStatus">
							{{if isChoose}}
							<i style="background:#E4E4E4;">已选修</i>
							{{else}}
							<i style="background:#5FC8D5;">立即选修</i>
							{{/if}}
						</span>				
					</div>
				</div>
			</script>
			<div id="Pagination" class="pagination"></div>
		</div>
	</div>
	<!--#include virtual="../common/foot.html" -->

<script type="text/javascript" src="../common/js/jquery.min.js"></script>
<script type="text/javascript" src="../common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../common/js/util.js"></script>
<script type="text/javascript" src="../common/js/common.js"></script>
<script type="text/javascript" src="../common/js/jquery.pagination.js"></script>
<script type="text/javascript" src="js/courseCenter.js"></script>
</body>
</html>