.loading{margin-left:-50px;}
.yd-courseDetail{width:900px; margin:0 auto; padding:20px; background:#fff; min-height:600px;}
.yd-detailTop{height:30px; line-height:30px;}
.yd-detailTop .yd-crumbPath{float:left; display:none;}
.yd-detailTop .yd-courseBack{float:right;}
.yd-detailTop .yd-courseBack a{display:block; width:60px; background:#169BD5; color:#fff; text-align:center;}

.yd-detailMiddle .yd-detailCover{float:left;}
.yd-detailMiddle .yd-detailCover img{width:400px; height:400px;}
.yd-detailMiddle .yd-detailInfo{float:right;}