<!DOCTYPE html>
<html>
<head>
<title>学习</title>
<meta charset="utf-8">
<link id="shortIcon" rel="icon" href="../common/images/icon.jpg">
<link rel="stylesheet" type="text/css" href="../common/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../common/css/common.css">
<link rel="stylesheet" type="text/css" href="../common/css/pagination.css">
<link rel="stylesheet" type="text/css" href="css/courseDetail.css">
</head>
<body>
	<!--#include virtual="../common/head.html" -->
	<div class="yd-main">
		<div class="yd-radius5px yd-courseDetail">
			<div class="yd-clear yd-detailTop">
				<ul class="breadcrumb yd-crumbPath">
					<li><a href="#" id="path-one">ggg</a></li>
					<li><a href="#" id="path-two">444</a></li>
					<li><span id="path-three">ggg</span></li>
				</ul>
				<div class="yd-courseBack"><a href="###" onclick="javascript:history.back();" class="yd-radius5px">返回</a></div>
			</div>
			<div class="yd-clear yd-detailMiddle"></div>
			<script id="detail-tmpl" type="text/x-jquery-tmpl">
				<div class="yd-detailCover">
					<img src="${common.dealImage(cover)}" alt="简介图">
				</div>
				<div class="yd-detailInfo">
					<h3>${title}</h3>
					<div>选修人数&nbsp;<span id="electNum">${courseNumber}</span>&nbsp;&nbsp;|&nbsp;&nbsp;播放人数&nbsp;${browNum}</div>
					<p class="yd-detail-summary">${common.cutStr(summary,150)}<br><br><br>${summary}</p>
					<div class="yd-yesCollection" style="display:{{if isChoose}}block{{else}}none{{/if}};">
						<img src="../common/images/yesCollection.png" width="106" height="76">
					</div>
					<div class="yd-detailInfo-btn">
						{{if isChoose}}
						<button id="learn-choose" class="btn btn-success" onclick="learnChoose($(this))">立即学习</button>
						<a href="###" id="delChoose" onclick="delChoose()">取消选修</a>
						{{else}}
						<button id="learn-choose" class="btn btn-warning" onclick="learnChoose($(this))">立即选修</button>
						<a href="###" id="delChoose" style="display:none;" onclick="delChoose()">取消选修</a>
						{{/if}}
						<span class="yd-courseCollection">
							{{if isCollection}}
							<img src="../common/images/u1405.png" data-collection="${isCollection}" onclick="dealCollection(${id},'${type}',$(this))">
							{{else}}
							<img src="../common/images/u1408.png" data-collection="${isCollection}" onclick="dealCollection(${id},'${type}',$(this))">
							{{/if}}
						</span>
						<span class="yd-collectionNum">收藏&nbsp;(<i>${collectionNum}</i>)</span>
					</div>
				</div>
			</script>

		</div>
	</div>
	<!--#include virtual="../common/foot.html" -->

<script type="text/javascript" src="../common/js/jquery.min.js"></script>
<script type="text/javascript" src="../common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../common/js/util.js"></script>
<script type="text/javascript" src="../common/js/common.js"></script>
<script type="text/javascript" src="../common/js/jquery.pagination.js"></script>
<script type="text/javascript" src="js/courseDetail.js"></script>
</body>
</html>