<!DOCTYPE html>
<html>
<head>
<title>学习</title>
<meta charset="utf-8">
<link id="shortIcon" rel="icon" href="../common/images/icon.jpg">
<link rel="stylesheet" type="text/css" href="../common/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../common/css/common.css">
<link rel="stylesheet" type="text/css" href="../common/css/pagination.css">
<link rel="stylesheet" type="text/css" href="../common/css/video-js.min.css">
<link rel="stylesheet" type="text/css" href="css/courseDetail.css">
</head>
<body>
	<!--#include virtual="../common/head.html" -->
	<div class="yd-main">
		<div class="yd-radius5px yd-courseDetail">
			<div class="yd-clear yd-detailTop">
				<ul class="breadcrumb yd-crumbPath">
					<li><a href="#" id="path-one">ggg</a></li>
					<li><a href="#" id="path-two">444</a></li>
					<li><span id="path-three">ggg</span></li>
				</ul>
				<div class="yd-courseBack"><a href="###" onclick="javascript:history.back();" class="yd-radius5px">返回</a></div>
			</div>
			<div class="yd-clear yd-detailMiddle">
				<!-- <h2 class="yd-courseDetail-title">${title}</h2>
				<div class="yd-courseDetail-createtime">${studyTimeFormat(time)}</div>
				<div class="yd-videoPlayer">
					<video id="" width="100%" height="100%" class="video-js vjs-default-skin" poster="${common.dealImage(cover)}" controls data-setup={}>
						<source src="../common/images/video.mp4" type='video/mp4'>
						<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
						<source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
					    				<source src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg'>
					</video>
				</div>
				<div class="yd-courseStudy-icon">
					{{if isCollection}}
					<img src="../common/images/u1405.png" data-collection="${isCollection}" onclick="toggleCollection(${id},'${type}',$(this))">
					{{else}}
					<img src="../common/images/u1408.png" data-collection="${isCollection}" onclick="toggleCollection(${id},'${type}',$(this))">
					{{/if}}
					收藏 |
					<span class="yd-courseStudy-commentNum">${comment}</span>人评论 |
					<span class="yd-courseStudy-brow">${brow}</span>人观看
				
				</div> -->
			</div>
			<script id="study-tmpl" type="text/x-jquery-tmpl">
				<h2 class="yd-courseDetail-title">${course.title}</h2>
				<div class="yd-courseDetail-createtime">${createTimeFormat(course.createTime)}</div>
				{{if renderType == 'video'}}
					<div class="yd-videoPlayer">
						<video id="" width="100%" height="100%" class="video-js vjs-default-skin" poster="${common.dealImage(cover)}" controls data-setup={}>
							<source src="../common/images/video.mp4" type='video/mp4'>
							<source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
							<source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
		    				<source src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg'>
						</video>
					</div>
				{{/if}}

				{{if renderType == 'figure'}}
					<div class="">
						<img src="${common.dealImage(cover)}">
					</div>
				{{/if}}

				{{if renderType == 'article'}}
					<div class="">{{html body}}</div>
				{{/if}}

				<div class="yd-courseStudy-icon">
					{{if isCollection}}
					<img src="../common/images/u1405.png" data-collection="${isCollection}" onclick="toggleCollection(${course.id},'${course.type}',$(this))">
					{{else}}
					<img src="../common/images/u1408.png" data-collection="${isCollection}" onclick="toggleCollection(${course.id},'${course.type}',$(this))">
					{{/if}}
					收藏 |
					<span class="yd-courseStudy-commentNum">${commentsNum}</span>人评论 |
					<span class="yd-courseStudy-brow">${browNum}</span>人观看

				</div>
			</script>

		</div>
	</div>
	<!--#include virtual="../common/foot.html" -->

<script type="text/javascript" src="../common/js/jquery.min.js"></script>
<script type="text/javascript" src="../common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../common/js/util.js"></script>
<script type="text/javascript" src="../common/js/common.js"></script>
<script type="text/javascript" src="../common/js/jquery.pagination.js"></script>
<script type="text/javascript" src="../common/js/video.min.js"></script>
<script type="text/javascript" src="js/courseStudy.js"></script>
</body>
</html>